openapi: 3.0.0
info:
  title: 'eparagony.pl: Documents REST API'
  x-logo:
    url: https://docs.eparagony.pl/public/images/pd_logo_eparagony.png
    backgroundColor: '#4527A0'
    altText: Logo Platforma Detalistów
  contact: {}
  version: 'X-Api-Version: 3 (20260311)'
  description: >

    ## Introduction


    <div style="background-color: #f9f9f9; border-radius: 5px; border-left: 6px
    solid #4527A0; padding: 30px; margin: 20px 0; font-size: 16px;">
      The following document describes the methods available in the eparagony.pl API.
      <br /><br />

      To understand how the various methods are called, see [introduction to the API](/en/docs/integracje/API).
    </div>
servers:
  - url: https://sandbox.eparagony.pl
  - url: https://api.eparagony.pl
    variables: {}
paths:
  /auth/token:
    post:
      summary: Obtaining and refreshing an access token
      servers:
        - url: https://login.eparagony.pl
        - url: https://login.sandbox.eparagony.pl
      tags:
        - Authorization
      description: >

        Obtaining the `access_token` - in the server-server (OAuth
        client_credentials) communication process


        There is no separate token refresh process. Refreshing is done by
        generating a new token.


        Before performing any operation that requires providing the
        `access_token` as an authorization method, you should check if it has
        expired (`expires_in`). If the token has expired, the operation will be
        rejected by the system,

        If the `expires_in` parameter indicates that the token is active, the
        operation can be performed without additional authorization steps,

        If the attempt resulted in a `401` error or the token has expired, you
        should obtain new `access_token`.


        The implementation should store the `access_token` until expiry (1 hour
        by default). It is discouraged to to retrieve a new `access_token`
        before each API request.


        The `access_token` obtained from this process should be provided in the
        `Authorization` header with the value `Bearer`.


        ```
          Authorization: Bearer <access_token>
        ```


        Caution. The number of possible requests is limited for a single IP.
        Sending too many requests will cause error 429.
      operationId: GetTokens
      parameters:
        - $ref: '#/components/parameters/Content-Type-form'
        - $ref: '#/components/parameters/apiVersion3'
        - $ref: '#/components/parameters/ContentLength'
        - $ref: '#/components/parameters/Host'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Integration-Id'
      requestBody:
        $ref: '#/components/requestBodies/AuthToken'
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse200'
        '400':
          description: Request body is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '404':
          description: Invalid URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        5XX:
          $ref: '#/components/responses/Error-502_503_504'
    AuthToken: &ref_7
      description: >-
        **Note:** Request body should be send as a form –
        `application/x-www-form-urlencoded`
      content:
        application/x-www-form-urlencoded:
          schema:
            discriminator:
              propertyName: grant_type
              mapping:
                client_credentials: '#/components/schemas/AuthTokenPayload'
            oneOf:
              - $ref: '#/components/schemas/AuthTokenPayload'
          examples:
            client_credentials:
              value: >-
                grant_type=client_credentials&client_secret=sNi4QXthdx2OdZYIJSla7HaoGDER0maY&scope=ecommerce&client_id=sNi4QXthdx2OdZYIJSla7HaoGDER0maY
      required: true
  /documents:
    post:
      tags:
        - Issuing e-Document
      summary: Requesting the issuance of a document
      security:
        - oauth-cc:
            - document_create
      description: >

        **Note:**


        1. The service is used to perform two basic tasks:
            1. enables the generation of a fiscal document (receipt or invoice) based on the sent data. This is possible using the Eparagony Document Print Service module, which, installed within the partner's infrastructure, acts as a communication bridge between the eparagony.pl System and the partner's fiscal printer. In the case of such an integration model, the `fiscalize: true` flag and optionally `statusUrl` should be passed to receive a webhook notification of the success or failure of fiscalization.
            2. enables the issuance of an invoice in the KSeF system based on the sent data. This is possible after correctly configuring permissions on the KSeF system side. More information in the [KSeF system integration documentation](/en/docs/integracje/KSeF/).
        2. In addition, endpoint can be used to:
            - sending additional information not provided for in the standard e-paragon, the schema of which is limited
            - optional issuance of a digital confirmation of the transaction, containing a range of data similar to an e-paragon, which, however, does not replace the fiscal document in paper or electronic form
        3. The processing status of an issued document can be tracked using the
        [Download Document Status](#operation/GetDocumentStatus) service.
      operationId: CreateDocument
      parameters:
        - $ref: '#/components/parameters/Content-Type-json'
        - $ref: '#/components/parameters/apiVersion3'
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/XCurrentTimePOS'
        - $ref: '#/components/parameters/ContentLength'
        - $ref: '#/components/parameters/Host'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Integration-Id'
      requestBody:
        $ref: '#/components/requestBodies/createDocument'
      responses:
        '200':
          $ref: '#/components/responses/CreateDocument-200'
        '202':
          $ref: '#/components/responses/CreateDocument-202'
        '400':
          $ref: '#/components/responses/CreateDocument-400'
        '401':
          $ref: '#/components/responses/NotAuthorized-401'
        '403':
          $ref: '#/components/responses/Forbidden-403'
        '422':
          $ref: '#/components/responses/CreateDocument-422'
        5XX:
          $ref: '#/components/responses/Error-502_503_504'
  /documents/{documentToken}/status:
    get:
      summary: Get document status
      tags:
        - Issuing e-Document
      description: >
        Used when:

        1. store have not received webhook (e.g. when webhook retries are no
        longer performed by eparagony.pl)

        2. or when there is a need to check the fiscalization status between
        webhook retries (e.g. to speed up the process after 10-20 seconds of
        waiting)

        3. or when you are integrating with eparagony.pl without using webhooks)


        **Important:**

        Please use the webhook first.

        When using this endpoint, it is a good practice to implement an
        exponential delay in the frequency of status queries.
      security:
        - oauth-cc:
            - document_create
            - ecommerce
      operationId: GetDocumentStatus
      parameters:
        - $ref: '#/components/parameters/documentToken'
        - $ref: '#/components/parameters/apiVersion3'
        - $ref: '#/components/parameters/ContentLength'
        - $ref: '#/components/parameters/Host'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Integration-Id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - title: Receipt
                    discriminator:
                      propertyName: status
                      mapping:
                        CONFIRMED: >-
                          #/components/schemas/CommonFiscalDocumentStatusConfirmed
                        READY: '#/components/schemas/CommonFiscalDocumentStatusReady'
                        PENDING: >-
                          #/components/schemas/FiscalDocumentStatusPendingResponsePayload
                        ERROR: '#/components/schemas/FiscalDocumentStatusErrorPayload'
                  - title: Invoice
                    discriminator:
                      propertyName: status
                      mapping:
                        CONFIRMED: '#/components/schemas/CommonInvoiceStatusConfirmed'
                        OFFLINE: '#/components/schemas/CommonInvoiceStatusOffline'
                        PENDING: >-
                          #/components/schemas/InvoiceStatusPendingResponsePayload
                        ERROR: '#/components/schemas/KsefDocumentStatusErrorPayload'
                  - title: Other
                    $ref: '#/components/schemas/DocumentStatusReceivedResponsePayload'
              examples:
                CONFIRMED (receipt):
                  value:
                    status: CONFIRMED
                    documentType: RECEIPT
                    processingMode: FISCALIZATION
                    transactionToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    documentToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    fiscalDeviceUniqueNumber: ABC123456890
                    fiscalDocumentNumber: 123456
                    fiscalDocumentId: ABC123456890/123456
                    receiptNumber: 112233
                    merchantDocumentId: 2019/12/123
                    merchantStoreId: '0072'
                    posId: 0221/3
                    orderId: '99928388'
                    endTime: '2019-09-02T09:16:42Z'
                    documentUrl: >-
                      https://hub.eparagony.pl/view/0b2ba26e16d69974216d72ed6b666705b05259b98eec5dd953d55d03bb6dfa02
                    printed: true
                PENDING (receipt):
                  value:
                    status: PENDING
                    documentType: RECEIPT
                    processingMode: FISCALIZATION
                    transactionToken: 79ab86bd-ff41-485d-832f-4b987d217da0
                    documentToken: 79ab86bd-ff41-485d-832f-4b987d217da0
                    merchantDocumentId: 2019/12/123
                    merchantStoreId: '0072'
                    orderId: string
                    posId: pos-10
                    documentUrl: >-
                      https://hub.eparagony.pl/view/0b2ba26e16d69974216d72ed6b666705b05259b98eec5dd953d55d03bb6dfa02
                READY (receipt):
                  value:
                    status: READY
                    documentType: RECEIPT
                    processingMode: FISCALIZATION
                    transactionToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    documentToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    fiscalDeviceUniqueNumber: ABC123456890
                    fiscalDocumentNumber: 123456
                    fiscalDocumentId: ABC123456890/123456
                    merchantDocumentId: 2019/12/123
                    merchantStoreId: '0072'
                    posId: 0221/3
                    orderId: '99928388'
                    documentUrl: >-
                      https://hub.eparagony.pl/view/0b2ba26e16d69974216d72ed6b666705b05259b98eec5dd953d55d03bb6dfa02
                    printed: true
                CONFIRMED (invoice with KSeF):
                  value:
                    status: CONFIRMED
                    documentType: INVOICE
                    processingMode: KSEF
                    transactionToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    documentToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    invoiceNumber: FV2022/12/545
                    merchantDocumentId: 2019/12/123
                    merchantStoreId: '0072'
                    posId: 0221/3
                    orderId: '99928388'
                    endTime: '2019-09-02T09:16:42Z'
                    documentUrl: >-
                      https://hub.eparagony.pl/view/0b2ba26e16d69974216d72ed6b666705b05259b98eec5dd953d55d03bb6dfa02
                    ksefInvoice:
                      ksefNumber: 5265877635-20250626-010080DD2B5E-26
                      referenceNumber: 20250626-EE-2F15D39000-242207E5C4-1B
                      sessionReferenceNumber: 20250625-SO-2C3E6C8000-B675CF5D68-07
                      invoiceHash: UtQp9Gpc51y-u3xApZjIjgkpZ01js-J8KflSPW8WzIE
                      invoicingDate: '2025-01-01T12:32:12.501Z'
                      acquisitionDate: '2025-01-01T12:53:10.532Z'
                      invoiceUrl: >-
                        https://ksef-test.mf.gov.pl/client-app/invoice/1111111111/01-02-2026/UtQp9Gpc51y-u3xApZjIjgkpZ01js-J8KflSPW8WzIE
                PENDING (invoice with KSeF):
                  value:
                    status: PENDING
                    documentType: INVOICE
                    processingMode: KSEF
                    transactionToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    documentToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    invoiceNumber: FV2022/12/545
                    merchantDocumentId: 2019/12/123
                    merchantStoreId: '0072'
                    posId: 0221/3
                    orderId: '99928388'
                    endTime: '2019-09-02T09:16:42Z'
                    documentUrl: >-
                      https://hub.eparagony.pl/view/0b2ba26e16d69974216d72ed6b666705b05259b98eec5dd953d55d03bb6dfa02
                OFFLINE (invoice with KSeF):
                  value:
                    status: OFFLINE
                    documentType: INVOICE
                    processingMode: KSEF
                    transactionToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    documentToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    invoiceNumber: FV2022/12/545
                    merchantDocumentId: 2019/12/123
                    merchantStoreId: '0072'
                    posId: 0221/3
                    orderId: '99928388'
                    endTime: '2019-09-02T09:16:42Z'
                    documentUrl: >-
                      https://hub.eparagony.pl/view/0b2ba26e16d69974216d72ed6b666705b05259b98eec5dd953d55d03bb6dfa02
                    ksefInvoice:
                      invoiceHash: UtQp9Gpc51y-u3xApZjIjgkpZ01js-J8KflSPW8WzIE
                      invoicingDate: '2025-01-01T12:32:12.501Z'
                      invoiceUrl: >-
                        https://ksef-test.mf.gov.pl/client-app/invoice/1111111111/01-02-2026/UtQp9Gpc51y-u3xApZjIjgkpZ01js-J8KflSPW8WzIE
                      issuerVerificationUrl: >-
                        https://ksef-test.mf.gov.pl/client-app/certificate/Nip/1111111111/1111111111/01635E98D9669239/UtQp9Gpc51y-u3xApZjIjgkpZ01js-J8KflSPW8WzIE/BRoRSfcLRh71PAonJCFPg55JYXZW24aEsQrZBRctRjQUnxngrVUJmWhMSHH7ikTp7VMnWYkfWOrUTXELmhJ6x-PNZn3cjm0e741c59h6Q5E-KWIQKONvBmn3XWLkncMrOlFMufwP3lFFXz58hSOvnoOzu3j87nLr7niV0jfkwmWZVV2oEjrWZTBCKueWX7Dk7WBUX9pPjFFafkE2iCQdm8MuaW8l-y94xTXYesn3mi8IxpCNo3hcTw_yrGnw-ucAABdhVw7K7MJJacCT2-7_Luh4qiWFiPNcP7Jp_IiI9RQH05xWsxXKA-Z9kgDyjP2KADyKu_vro82bAab4_VW8zQ
                ERROR (fiscalization):
                  value:
                    status: ERROR
                    documentType: RECEIPT
                    processingMode: FISCALIZATION
                    transactionToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    documentToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    invoiceNumber: FV2022/12/545
                    merchantDocumentId: 2019/12/123
                    merchantStoreId: '0072'
                    posId: 0221/3
                    orderId: '99928388'
                    errorCode: 83
                    errorDescription: >-
                      Kod błędu drukarki: 16 - błędna nazwa towaru,
                      prawdopodobnie brak znaków w kodowaniu Windows-1250,
                      rozważ transliterację
                ERROR (invoice with KSeF):
                  value:
                    status: ERROR
                    documentType: INVOICE
                    processingMode: KSEF
                    transactionToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    documentToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    invoiceNumber: FV2022/12/545
                    merchantStoreId: '0072'
                    posId: 0221/3
                    orderId: '99928388'
                    errorCode: 440
                    errorDescription: Duplikat faktury
                    endTime: '2019-09-01T22:00:00.000Z'
                CONFIRMED (invoice outside KSeF):
                  value:
                    status: CONFIRMED
                    documentType: INVOICE
                    processingMode: NONE
                    transactionToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    documentToken: cc87c194-ca98-4eba-a494-bbf166830ada
                    invoiceNumber: FV2022/12/545
                    merchantDocumentId: 2019/12/123
                    merchantStoreId: '0072'
                    posId: 0221/3
                    orderId: '99928388'
                    documentUrl: >-
                      https://hub.eparagony.pl/view/0b2ba26e16d69974216d72ed6b666705b05259b98eec5dd953d55d03bb6dfa02
        '400':
          description: |
            **Invalid request**
            <br/>
            Validation or business error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonError400Schema'
                  - type: object
                    properties:
                      errorCode:
                        type: number
                        example: 41
                        description: |
                          The error code can take the following values:
                          <ul>
                            <li> 41 – GENERAL_VALIDATION_ERROR (then the <span class="eqivia">message</span> parameter contains detailed information about the validation error) </li>
                            <li> 92 - UNKNOWN_DOCUMENT_TOKEN - document with specified token does not exist</li>
                            <li> 120 - INVALID_API_VERSION - incorrect API version or missing header `x-api-version`</li>
                            <li> 134 - API_VERSION_MISMATCH - invalid version in `x-api-version` header – document was created in a different API version</li>
                          </ul>
        '401':
          $ref: '#/components/responses/NotAuthorized-401'
        '403':
          $ref: '#/components/responses/Forbidden-403'
  /documents/{documentToken}/actions/status:
    get:
      summary: Get document actions status
      tags:
        - Additional actions
      description: >
        Endpoint returns the collective status of all actions associated with
        the document. Actions are asynchronous processes performed for a
        document, such as delivering a receipt to Allegro
        (`DELIVER_VIA_ALLEGRO`).


        Used when:

        1. store have not received action status webhook (e.g. when webhook
        retries are no longer performed by eparagony.pl)

        2. or when there is a need to check the action status between webhook
        retries

        3. or when the integration model does not involve receiving action
        status webhooks


        **Important:**

        Please use the webhook first.

        When using this endpoint, it is a good practice to implement an
        exponential delay in the frequency of status queries.
      security:
        - oauth-cc:
            - document_create
            - document_action_get
      operationId: GetDocumentActionsStatus
      parameters:
        - $ref: '#/components/parameters/parameters_en_documentToken'
        - $ref: '#/components/parameters/apiVersion3'
        - $ref: '#/components/parameters/ContentLength'
        - $ref: '#/components/parameters/Host'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Integration-Id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentActionsStatusResponsePayload'
              examples:
                example-1:
                  value:
                    actions:
                      - actionId: '1'
                        type: DELIVER_VIA_ALLEGRO
                        status: PENDING
                example-2:
                  value:
                    actions:
                      - actionId: allegro-order-123
                        type: DELIVER_VIA_ALLEGRO
                        status: COMPLETED
                example-3:
                  value:
                    actions:
                      - actionId: '1'
                        type: DELIVER_VIA_ALLEGRO
                        status: FAILED
        '400':
          description: |
            **Invalid request**
            <br/>
            Validation or business error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonError400Schema'
                  - type: object
                    properties:
                      errorCode:
                        type: number
                        example: 41
                        description: |
                          The error code can take the following values:
                          <ul>
                            <li> 41 – GENERAL_VALIDATION_ERROR (then the <span class="eqivia">message</span> parameter contains detailed information about the validation error) </li>
                            <li> 120 - INVALID_API_VERSION - incorrect API version or missing header `X-Api-Version`</li>
                          </ul>
        '401':
          $ref: '#/components/responses/NotAuthorized-401'
        '403':
          $ref: '#/components/responses/Forbidden-403'
        '404':
          description: >
            **Not found**

            <br/>

            Document with specified `documentToken` does not exist or no actions
            were sent for the document.
  /documents/{documentToken}/jws:
    get:
      summary: Get e-Document in JWS format
      tags:
        - Issuing e-Document
      description: >-
        For a given transaction this request allows to download an e-document in
        JWS format. This endpoint is available on request.
      security:
        - oauth-cc:
            - document_get_jws
      operationId: GetDocumentJWS
      parameters:
        - $ref: '#/components/parameters/parameters_en_documentToken'
        - $ref: '#/components/parameters/apiVersion3'
        - $ref: '#/components/parameters/ContentLength'
        - $ref: '#/components/parameters/Host'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Integration-Id'
      responses:
        '200':
          $ref: '#/components/responses/getDocumentJWSResponse-200'
        '400':
          $ref: '#/components/responses/getDocumentJWSResponse-400'
        '401':
          $ref: '#/components/responses/NotAuthorized-401'
        '403':
          $ref: '#/components/responses/Forbidden-403'
  /printers/{fiscalDeviceUniqueNumber}/status:
    get:
      operationId: GetPrinterStatus
      summary: Get printer device status
      description: Gets the current status of the fiscal printer device
      tags:
        - Printer device
      security:
        - oauth-cc:
            - printer_get
      parameters:
        - $ref: '#/components/parameters/Content-Type-json'
        - $ref: '#/components/parameters/apiVersion3'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Integration-Id'
        - $ref: '#/components/parameters/fiscalDeviceUniqueNumber'
      responses:
        '200':
          $ref: '#/components/responses/PrinterStatusResponse200'
  /printers/{fiscalDeviceUniqueNumber}/reports/daily:
    get:
      operationId: GetDailyReports
      summary: Get the list of daily fiscal reports.
      description: >-
        Get the list of daily fiscal reports. The maximum number of reports
        returned for given date range is 50.
      tags:
        - Printer device
      security:
        - oauth-cc:
            - report_fiscal_get
      parameters:
        - $ref: '#/components/parameters/Content-Type-json'
        - $ref: '#/components/parameters/apiVersion3'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Integration-Id'
        - $ref: '#/components/parameters/fiscalDeviceUniqueNumber'
        - name: issuedFrom
          in: query
          required: false
          description: >-
            The value of this parameter should be the ISO-8601 UTC date. If this
            parameter is used, also the `issuedTo` param needs to be used.
          example: '2024-04-17T11:22:00.000Z'
          schema:
            type: string
        - name: issuedTo
          in: query
          required: false
          description: >-
            The value of this parameter should be the ISO-8601 UTC date. If this
            parameter is used, also the `issuedFrom` param needs to be used.
          example: '2024-04-17T11:22:00.000Z'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DailyReportsResponse200'
x-webhooks:
  documentStatusUrl:
    post:
      summary: Status of the e-Document (webhook)
      tags:
        - Issuing e-Document
      operationId: DocumentStatus
      description: >

        ### Receipts issued on fiscal printer


        Asynchronous confirmation of the e-document issuance status to the
        repository by the cash register, sent to the address provided as
        `statusUrl` when requesting the document fiscalization.


        The notification is sent for the following statuses. The structure of
        the data sent in the notification varies depending on the status. To see
        documentation of the structure for a particular status, select an item
        from the drop-down list next to the `status` field in the "REQUEST BODY
        SCHEMA" section.
          * `READY` – commands successfully processed by the printer. The webhook notification with the status `READY` is intended to inform you that the paper receipt was printed correctly. Accordingly:
            1. at the time of delivery of this status, the e-document may not yet have been delivered to the repository.
            2. the `READY` status webhook notification is sent only if a paper printout was ordered (`print: true` sent with the document data).
          * `CONFIRMED` - fiscal receipt accepted in the repository. Best practice is to provide the link to the document only after receiving the `CONFIRMED` status.
          * `ERROR` - document issue completed with an error.

        ### Invoices issued to KSeF system


        Asynchronous confirmation of e-invoice issuance status in KSeF.


        The notification is sent for the following statuses. The structure of
        the data sent in the notification varies depending on the status. To see
        documentation of the structure for a particular status, select an item
        from the drop-down list next to the `status` field in the "REQUEST BODY
        SCHEMA" section.
          * `OFFLINE` – document issued in offline mode. Notification with `OFFLINE` status is sent when document processing on the KSeF side takes longer than a few seconds. The notification is accompanied by the release of a visualization containing two QR codes – OFFLINE and CERTIFICATE. The content of the QR codes will also be sent in this notification.
          * `CONFIRMED` – invoice issued in the KSeF system where a KSeF Number has been assigned to the document. The notification marks the completion of the invoice issuance process in KSeF and the available document visualization contains the KSeF number. For invoices issued outside KSeF, `CONFIRMED` is sent without the `ksefInvoice` object and with `processingMode: NONE`.
          * `ERROR` – permanent failure to issue the document in KSeF.

        ### Retry schedule


        The operation is retried if the webhook was responded with an HTTP
        status other than success (200), with the following delays:

        1. after 1 minute,

        2. after 3 minutes,

        3. after 5 minutes,

        4. after 15 minutes,

        5. after 30 minutes,

        6. after 1 hour,

        7. after 2.5 hours,

        8. after 7.5 hours,

        9. after 12 hours,
           \+ 35 times every 24 hours
      parameters:
        - $ref: '#/components/parameters/XSignatureHeader'
      requestBody:
        $ref: '#/components/requestBodies/DocumentStatusWebhookRequestBody'
      responses:
        '200':
          description: OK
        '400':
          description: Error
  actionStatusUrl:
    post:
      summary: Document action status (webhook)
      tags:
        - Additional actions
      operationId: DocumentActionStatus
      description: >
        Asynchronous notification about the change of action status associated
        with a document, sent to the address provided as `actionStatusUrl` when
        requesting document fiscalization.


        Actions are asynchronous processes performed for a document, such as
        delivering a receipt to Allegro platform (`DELIVER_VIA_ALLEGRO`).


        The notification is sent for the following action statuses:
          * `COMPLETED` – action completed successfully
          * `FAILED` – action failed

        **Note:** The webhook is **not** sent for the `PENDING` status (action
        in progress).


        The operation is retried if the webhook was responded with an HTTP
        status other than success (200), with the following delays:

        1. after 1 minute,

        2. after 3 minutes,

        3. after 5 minutes,

        4. after 15 minutes,

        5. after 30 minutes,

        6. after 1 hour,

        7. after 2.5 hours,

        8. after 7.5 hours,

        9. after 12 hours,
           \+ 35 times every 24 hours

        **Webhook signature:**

        The webhook contains the `X-Signature` header with an HMAC signature
        calculated for the entire JSON payload. The signature allows you to
        verify the authenticity of the incoming notification.
      parameters:
        - $ref: '#/components/parameters/XSignatureHeader'
      requestBody:
        $ref: >-
          #/components/requestBodies/DocumentActionStatusWebhookRequestBodyWrapper
      responses:
        '200':
          description: OK
        '400':
          description: Error
tags:
  - name: Authorization
    description: ' '
  - name: Issuing e-Document
    description: ' '
  - name: Printer device
    description: ' '
  - name: Additional actions
    description: ' '
  - name: API Changelog
    description: >
      ### Version 3.3 (2026-06-01)

      1. The `consumerTIN` field in invoice and corrective invoice issuance
      requests is no longer required. When this field is not provided, the
      `BrakID` element with value `1` will be passed in the KSeF structure.


      ### Version 3.2 (2026-04-20)

      1. The following flags have been added to the invoice issuance request:
      `metadata.isInvoiceForReceipt`, `metadata.isReverseChargeProcedure`,
      `metadata.isCashAccountingScheme`, `metadata.isSplitPayment`.

      2. The following flags have been added to the corrective invoice issuance
      request: `correctingMetadata.isInvoiceForReceipt`,
      `correctingMetadata.isReverseChargeProcedure`,
      `correctingMetadata.isCashAccountingScheme`,
      `correctingMetadata.isSplitPayment`.

      3. In the invoice issuance request for KSeF, a BadRequest 400 response is
      returned when the KSeF integration has not been enabled for the partner.


      ### Version 3.1 (2026-04-09)

      1. The following fields have been added to the invoice requests:
      `metadata.vatExemptionSource`, `metadata.vatExemptionReason`, which allow
      for the provision of information regarding the basis for the VAT
      exemption.

      2. The following fields have been added to the corrective invoice
      requests: `correctingMetadata.vatExemptionSource`,
      `correctingMetadata.vatExemptionReason`, which allow for the provision of
      information regarding the basis for the VAT exemption.


      ### Version 3.0 (2026-03-11)

      This API version is now officially released with the following changes:

      1. A non-generic User-Agent header is now required.

      2. An X-Integration-Id header is now required for generic integrations.


      ### Version 3.0 RC8 (2026-03-05)

      1. The `advancePaymentInvoices` field has been removed from requests for
      corrective invoices for advance and final invoices. 


      ### Version 3.0 RC7 (2026-03-02)

      1. The `fiscalize` field has become mandatory in a receipt and ticket
      receipt issuance request.


      ### Version 3.0 RC6 (2026-02-26)

      1. In requests for issuing invoices and corrective invoices, the
      validation rules for the buyer's tax identification number (`consumerTIN`)
      have been changed. Checksum verification has also been added for Polish
      tax identification numbers.


      ### Version 3.0 RC5 (2026-02-18)

      1. In the invoice issuance request, fields have been added to allow
      passing additional parties (`additionalParties`).

      2. In the corrective invoice issuance request, fields have been added to
      allow passing additional parties – corrected
      (`correctedAdditionalParties`) and after correction
      (`correctingAdditionalParties`).


      ### Version 3.0 RC4 (2026-02-12)

      1. In the corrective invoice issuance request, the `merchantName` and
      `merchantAddress` fields have been removed from `metadata`. The
      authoritative seller details are those provided in `correctingMetadata`.

      2. For invoices other than corrective invoices, the requirement for the
      `merchantName` and `merchantAddress` fields in the `metadata` object has
      been lifted when this information has been provided during integration.

      3. Updated the description of the `vatCalculationMethod` and
      `calculationValidation` fields for corrective invoices. From now on, they
      are required in `correctedMetadata` only if `correctedLines` is also
      provided, and in `correctingMetadata` if `correctingLines` is provided.


      ### Version 3.0 RC3 (2026-01-12)

      1. The description of the `transactionToken` field for invoices has been
      changed – the field has become required for settlement invoices, and for
      advance payment and corrective invoices, it is required except in special
      cases.

      2. In the document status webhook and the status endpoint response, for
      the `OFFLINE` status, the `invoicingDate` field has been replaced by the
      `issueDate` field (issuance date).

      3. In the document status webhook and the status endpoint response, for
      the `CONFIRMED` status for invoices, the `issueDate` field (issuance date)
      has been added.

      4. In the advance payment invoice issuance request, the VAT calculation
      method (`vatCalculationMethod`) has been restricted to net. Consequently,
      the `netUnitPrice` and `netTotalLineValue` fields in the lines have become
      required.

      5. In the advance payment invoice metadata, the `advancePaymentDate` field
      (date of payment receipt) has been added.


      ### Version 3.0 RC2 (2026-01-05)

      1. Added required `taxValue` field to the invoice line.

      2. Added required `metadata.vatCalculationMethod` field specifying the VAT
      calculation method, which affects required fields in invoice lines.

      3. Added required `metadata.calculationValidation` field with, at this
      moment, `NONE` as the only allowed value.


      ### Version 3.0 RC1 (2025-11-24)

      1. Introduced a new data format for invoice issuance requests.

      2. Added the ability to request invoice submission to KSeF –
      `eInvoicingHub` field with value `KSEF`

      3. Enriched the invoice sending request with new invoice types
      (`invoiceType`):
          1. Advance payment invoice
          2. Settlement invoice
      4. Added the ability to issue corrective invoices (`eCorrectiveInvoice`):
          1. Corrective invoice for VAT invoice
          2. Corrective invoice for advance payment invoice
          3. Corrective invoice for settlement invoice
      5. In the document status webhook, the data structure was changed and the
      `ksefInvoice` field was added, providing information about the invoice
      issued in KSeF.


      #### Migration from version 1 to version 3


      The following changes are required to adapt the document data structure
      sent in [Request to issue a document](#operation/CreateDocument) for
      issuing a **receipt**:


      1. Move the `print` and `fiscalize` fields from the main structure level
      to the `eReceipt` object

      2. Change the name of the `fiscalizationStatusUrl` field to `statusUrl`

      3. Change the names of the following fields within `eReceipt.metadata`:
          1. cashRegisterID → cashRegisterId
          2. cashierID → cashierId
          3. shiftID → shiftId
      4. Change the `metadata.marketingContent` field to
      `metadata.additionalDescription` and adapt the structure:
          1. Instead of `{"textLine": "text content"}` send `{"type": "TEXT", body: "text content"}`
          2. Move the content sent in the previous `extensions.additionalInformation` field (removed) to `metadata.additionalDescription` and adapt it to the new structure
      5. Adjust the date format sent in the `metadata.orderTime` field.
      Previously, the format `2020-03-25T20:28:25` was allowed, which did not
      contain information about the local time difference relative to UTC. The
      new required format is `2030-07-13T23:03:25Z` (date in UTC) or
      `2020-01-30T21:59:20+02:00` (local time with specified offset relative to
      UTC).

      6. From the line rebate (`lines.rebatesMarkups`), remove the `type` field.
      As before, the rule remains unchanged that a negative sign for the amount
      indicates that we are dealing with a rebate, and a positive value
      indicates that a markup has been added.


      You should also adjust the handling of the [status
      webhook](#operation/DocumentStatus) and the handling of the response from
      the [document status retrieval endpoint](#operation/GetDocumentStatus):


      1. Adjust the handling of the `status` parameter, which replaced the
      previous `fiscalizationStatus`
components:
  securitySchemes:
    oauth-cc:
      type: oauth2
      description: |
        This API uses OAuth 2 Client Credentials flow
      flows:
        clientCredentials:
          tokenUrl: https://api.eparagony.pl/auth/token
          scopes:
            document_create: creating e-documents
            document_action_get: access to document action status
            document_get_jws: >-
              access to e-document in JWS format, available upon prior agreement
              on purpose and access rules
            printer_get: access to fiscal printer status, available upon request
            report_fiscal_get: allows you to list the fiscal reports
  parameters:
    Content-Type-form:
      name: Content-Type
      in: header
      description: application/x-www-form-urlencoded
      required: true
      style: simple
      explode: false
      schema:
        type: string
    apiVersion3:
      name: X-Api-Version
      in: header
      description: >-
        Specifies the required API version. The supplied value must match the
        version shown in the API version selector on the top-right corner of
        this website.
      required: true
      schema:
        type: number
        const: 3
    ContentLength:
      name: Content-Length
      in: header
      description: >-
        The length of the request body in bytes, usually supplied automatically
        by the HTTP client
      required: true
      schema:
        type: integer
        example: 123
    Host:
      name: Host
      in: header
      description: >-
        The domain name of the server, usually supplied automatically by the
        HTTP client
      required: true
      schema:
        type: string
        examples:
          - api.eparagony.pl
          - login.eparagony.pl
    User-Agent:
      name: User-Agent
      in: header
      description: >-
        A reliable and unambiguous identification of the HTTP client sending the
        request, typically containing the application name and version. Generic
        headers used by HTTP libraries (e.g., `curl/7.64.1`) are not accepted
        and may result in the rejection of the request at the network firewall
        level. You can include an additional URL to a page with information
        about the application, including recommended contact method for
        technical issues, but this is not required.
      required: true
      schema:
        type: string
        example: MyApplication/1.0 (+https://myapplication.com/about)
    X-Integration-Id:
      name: X-Integration-Id
      in: header
      description: >-
        A unique identifier of the integration. Please contact eparagony.pl
        support (pomoc@eparagony.pl) for your unique identifier in case you
        create an API integration for a system that will support multiple
        customers.
      required: false
      schema:
        type: string
        example: external-system-xyz:AlYo5nzBQuHJMfftQW8v30kgIlIMsSX7
    Content-Type-json:
      name: content-type
      in: header
      description: application/json
      required: true
      style: simple
      explode: false
      schema:
        type: string
    idempotencyKey:
      name: Idempotency-Key
      in: header
      description: >-
        Unique identifier of the request to ensure idempotency. The value should
        be repeated only if the same request is resent for technical reasons
        (e.g., no server response). Note: providing a different key value in
        case of a repeated request will result in the addition of a new document
        and also in repeated fiscalization (in case of a request with
        `fiscalize: true`)!
      required: true
      schema:
        type: string
        example: 68a25bf0-43ad-4551-9e47-da89f0cc4bb6
    XCurrentTimePOS:
      name: X-Current-Time-POS
      in: header
      required: false
      schema:
        $ref: '#/components/schemas/CurrentTimePOS'
    documentToken:
      name: documentToken
      in: path
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/schemas_pl_DocumentTokenParam'
    parameters_en_documentToken:
      name: documentToken
      in: path
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/DocumentTokenParam'
    fiscalDeviceUniqueNumber:
      name: fiscalDeviceUniqueNumber
      in: path
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/schemas_pl_FiscalDeviceUniqueNumber'
    XSignatureHeader:
      name: X-Signature
      in: header
      description: >-
        Checksum of the request content in hex format calculated by
        HMAC-SHA2-256 algorithm using the key passed during integration. The
        value of the `X-Signature` header should match the value returned by the
        `hash_hmac('sha256', $requestBody, $webhookSecret)` function.
      required: true
      schema:
        type: string
        example: 5715a16b7994c74a9110c05c88cb4fbaa2456940430a06208ad7a3af79bb5d21
  schemas:
    AuthTokenPayload:
      type: object
      required:
        - client_id
        - client_secret
        - grant_type
        - scope
      properties:
        client_id:
          type: string
          description: Unique API client identifier in PD authorization server
          example: ce9O5M5oHGy5t6mmijh49XeHhe0xvMgb
        client_secret:
          type: string
          description: >-
            Unique API client secret string required for authorization in PD
            server
          example: KErFcm4xRWZwsBtsVsuzK4KqAQ8IhhQz
        scope:
          type: string
          description: Requested scopes, separated by comma
          example: document_create report_fiscal_get
        grant_type:
          type: string
          enum:
            - client_credentials
          description: Authorization mode
          example: client_credentials
    OAuthErrorResponse:
      type: object
      required:
        - error
        - error_description
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - unauthorized_client
            - unsupported_response_type
            - invalid_scope
            - server_error
            - temporarily_unavailable
          default: invalid_request
        error_description:
          type: string
    CurrentTimePOS:
      type: string
      description: >-
        UTC time provided in ISO-8601 format with milliseconds precision. This
        time is used to synchronize clocks between POS system and Spark server
        and should be recorded by POS just before request is sent.
      example: '2019-09-02T09:16:42.123Z'
    DeliverViaAllegroAction:
      type: object
      properties:
        actionId:
          type: string
          description: >
            Optional action identifier provided by the client. If not provided,
            the system will automatically generate sequential numbers (`"1"`,
            `"2"` etc.).


            **Important:** If any action has an `actionId` provided, all actions
            must have unique `actionId` values. You cannot mix automatically
            generated identifiers with your own.


            **Usage:** The identifier is useful for:

            - Distinguishing actions when receiving action status webhooks (each
            action receives a separate webhook with `actionId`)

            - Identification of the status of a specific action in the response
            from the [Get document action
            status](#operation/GetDocumentActionsStatus) endpoint, which returns
            a list of all actions with their identifiers
          example: allegro-order-123
        actionStatusUrl:
          type: string
          format: uri
          description: >
            Optional URL address to which a webhook ([Document action
            status](#operation/DocumentActionStatus)) will be sent informing
            about the completion of the action execution (statuses COMPLETED or
            FAILED).


            **Note:** A separate webhook is sent for each action to the provided
            URL address.
          example: https://example.com/action-webhook
        type:
          type: string
          const: DELIVER_VIA_ALLEGRO
          description: Deliver to Allegro and attach to order
        orderId:
          type: string
          description: Allegro order ID
          example: 0199e495-3f4f-11ec-b99e-932b735b0399
        accountName:
          type: string
          description: Allegro account login
          example: Account123
        accountId:
          type: string
          description: Allegro account ID
          example: '105691754'
      required:
        - type
        - orderId
    Actions:
      type: array
      description: Actions performed after completing the fiscal document issuance
      items:
        oneOf:
          - $ref: '#/components/schemas/DeliverViaAllegroAction'
        discriminator:
          mapping:
            DELIVER_VIA_ALLEGRO: '#/components/schemas/DeliverViaAllegroAction'
          propertyName: type
    CreateDocumentPayload:
      type: object
      required:
        - posId
      properties:
        posId:
          type: string
          description: identifier of physical POS machine or e-commerce platform identifier
          example: pos-10
        documentToken:
          type: string
          format: UUIDv4
          example: 79ab86bd-ff41-485d-832f-4b987d217da0
          description: >
            Optional unique document identifier in UUIDv4 format. If not
            provided, it will be generated and returned in the response. The
            identifier allows retrieving the status of the document. The ability
            to pass the identifier in the query allows the implementation of
            advanced integration scenarios described in a separate document.
        actions:
          $ref: '#/components/schemas/Actions'
    CommonMetadata:
      type: object
      properties:
        orderTime:
          type: string
          description: >-
            Order placement date and time in ISO-8601 format in UTC time (with
            `Z` suffix, e.g. `"2019-09-02T09:16:42Z"`) or with UTC offset (e.g.
            `"2019-09-02T11:16:42+02:00"`)
          example: '2019-09-02T09:16:42Z'
        cashRegisterId:
          type: string
          example: '12'
          description: >-
            cash register number; does not appear on invoices from fiscal
            printers
        cashierId:
          type: string
          example: KASJER01
          description: cashier identifier
        shiftId:
          type: string
          example: '3'
          description: Shift number
    TaxRates:
      title: TaxRates
      required:
        - A
        - B
        - C
        - D
        - E
        - F
        - G
      type: object
      properties:
        A:
          type: string
          example: '23'
          description: >-
            Tax rate, code A, expressed as a percentage (should be provided as a
            string with period (.) as decimal separator without "%" sign). Value
            `"ZW"` allowed for exemption designation. Rate A in 2019 in Poland
            is 23%.
        B:
          type: string
          example: '8'
          description: >-
            Tax rate, code B, expressed as a percentage (should be provided as a
            string with period (.) as decimal separator without "%" sign). Value
            `"ZW"` allowed for exemption designation. Rate B in 2019 in Poland
            is 8%.
        C:
          type: string
          example: '5'
          description: >-
            Tax rate, code C, expressed as a percentage (should be provided as a
            string with period (.) as decimal separator without "%" sign). Value
            `"ZW"` allowed for exemption designation. Rate C in 2019 in Poland
            is 5%.
        D:
          type: string
          example: '0'
          description: >-
            Tax rate, code D, expressed as a percentage (should be provided as a
            string with period (.) as decimal separator without "%" sign). Value
            `"ZW"` allowed for exemption designation. Rate D in 2019 in Poland
            is 0%.
        E:
          type: string
          example: ZW
          description: >-
            Tax rate, code E, expressed as a percentage (should be provided as a
            string with period (.) as decimal separator without "%" sign). Value
            `"ZW"` allowed for exemption designation. Rate E in 2019 in Poland
            means exemption.
        F:
          type: string
          example: '0'
          description: >-
            Tax rate, code F, expressed as a percentage (should be provided as a
            string with period (.) as decimal separator without "%" sign). Value
            `"ZW"` allowed for exemption designation. Rate F in 2019 in Poland
            undefined.
        G:
          type: string
          example: '0'
          description: >-
            Tax rate, code G, expressed as a percentage (should be provided as a
            string with period (.) as decimal separator without "%" sign). Value
            `"ZW"` allowed for exemption designation. Rate G in 2019 in Poland
            undefined.
    AdditionalDescriptionLine:
      oneOf:
        - type: object
          title: Text line
          properties:
            type:
              type: string
              const: TEXT
            body:
              type: string
              description: Text to display
          required:
            - type
            - body
        - type: object
          title: Line with QR code
          properties:
            type:
              type: string
              const: QR
            body:
              type: string
              description: >-
                Text to display as QR code. If the value is in URL format, it
                will also be displayed as a link.
          required:
            - type
            - body
        - type: object
          title: Line with barcode
          properties:
            type:
              type: string
              enum:
                - CODE39
                - CODE128
                - CODE128A
                - CODE128B
                - CODE128C
                - EAN13
                - EAN8
                - EAN5
                - EAN2
                - UPC
                - ITF14
                - ITF
                - MSI
                - MSI10
                - MSI11
                - MSI1010
                - MSI1110
                - PHARMACODE
                - CODABAR
              description: Barcode format
            body:
              type: string
              description: >-
                Textual representation of barcode. Value must meet the
                requirements for the given barcode format. For example, for
                EAN13 code it must consist of 13 digits.
          required:
            - type
            - body
        - type: object
          title: Separator line
          properties:
            type:
              type: string
              const: SEPARATOR
              description: Line separating individual content sections
          required:
            - type
        - type: object
          title: Key-value line
          properties:
            type:
              type: string
              const: KEY_VALUE
              description: Line presenting a label (key) and its value.
            key:
              description: Key (label)
              type: string
            value:
              description: Value
              type: string
    ReceiptMetadata:
      title: ReceiptMetadata
      allOf:
        - $ref: '#/components/schemas/CommonMetadata'
        - type: object
          required:
            - taxRates
            - grossSaleValue
          properties:
            consumerTIN:
              description: Buyer's tax identification number
              oneOf:
                - type: string
                  title: NIP PL
                  description: Buyer's tax identification number
                  example: '5213796333'
                  pattern: >-
                    ^([1-9](([0-9][1-9])|([1-9][0-9]))[0-9][0-9][0-9][0-9][0-9][0-9][0-9])$
                - type: string
                  title: NIP EU/PL
                  description: Buyer's EU VAT number with `PL` prefix
                  example: PL5213796333
                  pattern: >-
                    ^PL([1-9](([0-9][1-9])|([1-9][0-9]))[0-9][0-9][0-9][0-9][0-9][0-9][0-9])$
                - type: string
                  title: NIP EU
                  description: >-
                    Buyer's EU VAT number with prefix other than `PL`. Note - no
                    support for non-EU VAT numbers (no validation guarantee,
                    e.g. no support for VAT numbers from India)
                  example: DE436643355
                  pattern: ^(?!PL)[A-Z]{2}[0-9A-Za-z.]{1,13}$
            grossSaleValue:
              type: integer
              format: int32
              description: Total gross sales value – integer **in pennies (grosze)**
              example: 6148
            orderId:
              type: string
              description: >-
                Order ID (if the document can be linked to a customer order). By
                default, if provided, it is displayed in the non-fiscal part of
                the document as "Order number". When provided, it will be
                attached to the response/webhook with fiscalization status and
                possible future reporting. Uniqueness is not required on the
                eparagony.pl side. When using paper printouts (passing `print:
                true`), it is possible to enable placement of the provided
                `orderId` value as "System number" on the printout
            taxRates:
              $ref: '#/components/schemas/TaxRates'
            currency:
              type: string
              description: Cash register accounting currency, compliant with ISO-4217
              pattern: ^([A-Z]{3})$
              example: PLN
            merchantDocumentId:
              type: string
              description: >-
                Document number assigned by the seller. On request, it can be
                optionally displayed in the lower, non-fiscal part of the
                document visualization. When provided, it will be attached to
                the response/webhook with fiscalization status and possible
                future reporting. Uniqueness is not required on the eparagony.pl
                side. Not to be confused with `metadata.orderId` or identifiers
                used to ensure idempotency such as the `idempotencyKey` header.
              example: '123456789'
            additionalDescription:
              type: array
              description: >-
                Advertising and informational content defined by the seller. May
                contain information not covered earlier - system numbers, codes
                and identifiers of transactions and orders in reference to which
                the transaction is carried out, which may be included in the
                document, information about the serving employee. Each line
                contains a separate object - graphical or textual.
              items:
                $ref: '#/components/schemas/AdditionalDescriptionLine'
    Content:
      title: Content
      type: object
      properties:
        textLine:
          type: string
          description: Line containing text
        graphicLine:
          type: string
          description: textual representation of barcode
        graphicType:
          type: string
          description: barcode type - 1D or 2D code type, e.g. `EAN-13`, `QR Version 3`
    RebatesMarkups:
      title: RebatesMarkupsStandalone
      required:
        - value
        - name
      type: object
      properties:
        value:
          type: integer
          format: int32
          description: >-
            Value of discount, markup or reduction. **Negative value indicates a
            rebate/reduction**, positive value indicates a markup. Provided as
            integer **in pennies (grosze)**
          example: 100
        name:
          type: string
          description: >-
            Name of discount, markup or reduction, if applicable. This value is
            not passed to KSeF due to FA (3) schema limitations
          example: Red color surcharge
    ProductReturnPolicy:
      title: Polityka zwrotów
      type: object
      description: >-
        Polityka zwrotów, może zostać wzbogacona o wszystkie pola z
        http://schema.org/ProductReturnPolicy
      properties:
        inStoreReturnsOffered:
          type: boolean
          description: Jeśli `false`, to produkt nie podlega zwrotowi
          enum:
            - true
            - false
          example: true
        productReturnDays:
          type: integer
          format: int32
          description: >-
            Polityka zwrotów dla danego produktu - czas od zakupu dostępny na
            zwrot podany w dniach
          example: 2
        additionalDescription:
          type: string
          description: Dodatkowy opis dla polityki zwrotów
          example: Zwrot wyłącznie w oryginalnym opakowaniu
    warranty:
      type: object
      properties:
        dateTo:
          type: string
          description: Warranty validity date ISO-8601
          example: '2019-09-02T23:59:59.999+02:00'
        period:
          type: integer
          format: int32
          description: >-
            Warranty duration from purchase date, given in the unit from the
            `periodUnit` field
          example: 2
        periodUnit:
          type: string
          description: 'Unit for the `period` field '
          enum:
            - HOUR
            - DAY
            - MONTH
            - YEAR
          example: YEAR
        additionalDescription:
          type: string
          description: Additional explanations of warranty conditions
          example: Does not cover products purchased on promotion
    CommonLineProduct:
      required:
        - productOrServiceName
        - quantity
      type: object
      properties:
        productOrServiceName:
          type: string
          description: >-
            Name of goods/service. Character limit on fiscal documents: Novitus
            60, Posnet 80, Elzab 42.
          example: Long-sleeve red t-shirt 123
        EAN: &ref_0
          type: string
          description: >-
            EAN, ISBN or ISMN code, if available in the system (regardless of
            whether it is printed or not)
          example: '05902560100679'
        PLU: &ref_1
          type: string
          description: >-
            PLU code for product/package, if available in the system (regardless
            of whether it is printed or not)
          example: '4036'
        PKWIU:
          type: string
          description: PKWiU code (Polish Classification of Products and Services)
          example: 56.10.11.0
        CN: &ref_2
          type: string
          description: >-
            CN code (Combined Nomenclature) of the product, if available in the
            system (regardless of whether it is printed or not)
          example: 27102011D
        SKU: &ref_3
          type: string
          description: >-
            Merchant's internal system SKU ID of the product, if different from
            the EAN code, which can then be an identifier in queries for
            additional product data in other retailer systems
          example: '123456789'
        externalId: &ref_4
          type: string
          description: >-
            Producer's external system SKU ID of the product, if different from
            the EAN code, which can then be an identifier in queries for
            additional product data in other external systems
          example: '123456789'
        dataMatrix: &ref_5
          type: string
          description: >-
            Product code described as Data Matrix or according to GS1 Data
            Matrix standard
        quantity:
          type: string
          description: Quantity of goods or service, precision (22,8)
          example: '1.234'
          pattern: ^([0-9]{1,22}[.]?[0-9]{1,8})$
        unitOfMeasure:
          type: string
          description: >-
            Unit of measurement, if present. Only the first 4 characters are
            displayed on the document.
          example: szt.
        unitPrice: &ref_6
          type: integer
          format: int32
          description: Unit price – integer **in pennies (grosze)**
          example: 4901
        returnPolicy:
          $ref: '#/components/schemas/ProductReturnPolicy'
        warranty:
          $ref: '#/components/schemas/warranty'
    ReceiptLineProduct:
      title: PRODUCT
      allOf:
        - type: object
          required:
            - type
            - unitPrice
            - totalLineValue
            - taxRate
          properties:
            type:
              type: string
              description: >-
                Line containing product (`PRODUCT`) which may contain discounts
                for the product
              default: PRODUCT
              example: PRODUCT
            isStorno:
              type: boolean
              description: Whether the line is a reversal (storno)
              default: false
            ticketRelief:
              type: integer
              format: int32
              example: 0
              description: >-
                Discount value for discounted ticket – integer **in pennies
                (grosze)**
            additionalDescription:
              type: array
              items:
                $ref: '#/components/schemas/Content'
              description: >-
                Description of goods or service, which may contain text
                elements, barcodes, two-dimensional codes, if present. Character
                limit on fiscal documents: Novitus 160, Posnet 50, Elzab 36.
            totalLineValue:
              type: integer
              format: int32
              description: >-
                Total gross value before applying any markups and discounts
                (`totalLineValue = unitPrice × quantity`) – integer **in pennies
                (grosze)**
              example: 6048
            taxRate:
              type: string
              description: >-
                Letter designation of the tax rate for the given item, or
                alternatively: tax exemption. <br /><br /> <b>Warning:</b><br />
                Each fiscal printer has an algorithm verifying whether a product
                with a given name has not used a forbidden tax rate sequence,
                i.e.: higher >> lower >> higher. For example, sending 3
                consecutive receipts with a product "Service" with tax rates A,
                C and A will result in the third receipt being rejected by the
                fiscal printer. 
              enum:
                - A
                - B
                - C
                - D
                - E
                - F
                - G
              example: A
            rebatesMarkups:
              type: array
              items:
                $ref: '#/components/schemas/RebatesMarkups'
        - $ref: '#/components/schemas/CommonLineProduct'
    LineRebate:
      title: REBATE
      required:
        - value
        - type
      properties:
        type:
          type: string
          description: >-
            Line containing only a discount (`REBATE`) for part or all of the
            sale
          default: REBATE
          example: REBATE
        value:
          type: integer
          format: int32
          description: >-
            Value of discount, markup or reduction. **Negative value indicates a
            rebate/reduction**, positive value indicates a markup – integer **in
            pennies (grosze)**
          example: 100
        name:
          type: string
          description: >-
            Name of discount, markup or reduction, if applicable. This value is
            not passed to KSeF due to FA (3) schema limitations
          example: Red color surcharge
        taxRate:
          type: string
          description: >-
            Letter designation of the tax rate for the given item, or
            alternatively: tax exemption. If not provided, the discount will be
            charged to the receipt and distributed proportionally across all tax
            rates.
          enum:
            - A
            - B
            - C
            - D
            - E
            - F
            - G
          example: A
    ReceiptLine:
      title: ReceiptLine
      oneOf:
        - $ref: '#/components/schemas/ReceiptLineProduct'
        - $ref: '#/components/schemas/LineRebate'
      discriminator:
        propertyName: type
    payments:
      title: payments
      required:
        - paymentForm
        - paidThisForm
      type: object
      properties:
        paymentForm:
          type: string
          description: Payment form type
          example: Mobilna
          enum:
            - Gotówka
            - Karta
            - Czek
            - Bon
            - Inna
            - Kredyt
            - Waluta obca
            - Przelew
            - Mobilna
            - Voucher
        paymentName:
          type: string
          description: >-
            Custom payment form name. Typically will be the card scheme name
            (Visa, Mastercard) or intermediary (Przelewy24.pl, Stripe, etc.). If
            not sent, Elzab printers will copy value from the `paymentForm`
            field on the electronic receipt only (behaviour designed by the
            manufacturer).
          example: Spark
        paidThisForm:
          type: integer
          format: int32
          description: Value paid with the given method – integer **in pennies (grosze)**
          example: 6482
        giftCardNo:
          type: string
          description: Gift card numbers used for payment
          example: string
        giftCardValue:
          type: integer
          format: int32
          description: >-
            Remaining amount available on the gift card, if the information was
            included on the physical receipt – integer **in pennies (grosze)**
          example: 1234
        loyaltyCardNo:
          type: string
          description: Loyalty card number if used for transaction
        currency:
          type: string
          description: >-
            Currency designation, compliant with ISO-4217. Do not send for PLN
            payments.
          example: EUR
          pattern: ^([A-Z]{3})$
        exchangeRate:
          type: string
          description: >-
            Exchange rate with precision to 4 decimal places with period (.) as
            decimal separator. Do not send for PLN payments.
          example: '4.3216'
        cashInOriginalValue:
          type: integer
          format: int32
          description: >-
            Indication of the paid amount value in foreign currency (in the
            smallest indivisible part of foreign currency unit). Do not send for
            PLN payments.
          example: 1500
    Payment:
      title: Payment
      required:
        - payments
        - totalPaid
      type: object
      properties:
        payments:
          type: array
          description: >-
            List of payments. In case of fiscalization using an Elzab printer,
            the maximum number of payments is 7. Sending more payments will
            cause a fiscalization error.
          items:
            $ref: '#/components/schemas/payments'
        totalPaid:
          type: integer
          format: int32
          description: Indication of paid amount value – integer **in pennies (grosze)**
          example: 6482
        change:
          type: integer
          format: int32
          description: Change, if change was given – integer **in pennies (grosze)**
          example: 334
    LoyaltyTransactionDetails:
      type: object
      description: >-
        One or more loyalty card numbers used during the transaction, number of
        points added, number of points spent, new points balance and additional
        transaction information
      properties:
        id:
          type: string
          description: Loyalty program card number
          example: '1234567890123'
        name:
          type: string
          description: Loyalty program card name, if available
          example: Regular customer card
        pointsAdded:
          type: string
          description: >-
            Balance of changes in loyalty program points after transaction, if
            applicable
          example: '-20.98'
        newBalance:
          type: string
          description: Number of loyalty program points after transaction, if applicable
          example: '1234.56'
        additionalContent:
          $ref: '#/components/schemas/Content'
    Gift-Cards:
      type: object
      properties:
        giftCardNo:
          type: string
          description: Gift card numbers used for payment
          example: K123456789
        giftCardValue:
          type: integer
          format: int32
          description: >-
            Remaining amount available on the gift card, if the information was
            included on the physical document – integer **in pennies (grosze)**
          example: 12345
    EReceipt-crk-extension:
      title: eReceipt extensions beyond the official JPK schema
      type: object
      properties:
        consumerLoyalty:
          type: array
          description: Details related to loyalty cards used during the transaction
          items:
            $ref: '#/components/schemas/LoyaltyTransactionDetails'
        recyclingDb:
          type: string
          description: >-
            Retailer number in the database of products and packaging and waste
            management (BDO, if available and placed on the physical document)
          example: '000018564'
        giftCards:
          type: array
          description: >-
            gift card numbers used for the transaction and their remaining
            balances
          items:
            $ref: '#/components/schemas/Gift-Cards'
        globalReturnPolicy:
          $ref: '#/components/schemas/ProductReturnPolicy'
        warranty:
          $ref: '#/components/schemas/warranty'
    SettlementAdvancePayment:
      title: SettlementAdvancePayment
      required:
        - nameOfPayment
        - value
        - taxRate
      type: object
      properties:
        nameOfPayment:
          type: string
          description: >-
            Name / subject of advance payment, if the advance payment is
            included on the receipt
          example: Pre-sale payment
        isStorno:
          type: boolean
          description: Whether the line is a reversal (storno)
          default: false
        value:
          type: integer
          format: int32
          description: >-
            Advance payment value, if the advance payment is on the receipt –
            integer **in pennies (grosze)**
          example: 1001
        taxRate:
          type: string
          description: >-
            Letter designation of the tax rate for the given item, or
            alternatively: tax exemption. <br /><br /> <b>Warning:</b><br />
            Each fiscal printer has an algorithm verifying whether a product
            with a given name has not used a forbidden tax rate sequence, i.e.:
            higher >> lower >> higher. For example, sending 3 consecutive
            receipts with a product "Service" with tax rates A, C and A will
            result in the third receipt being rejected by the fiscal printer. 
          enum:
            - A
            - B
            - C
            - D
            - E
            - F
            - G
          example: A
        requiredAdditionalPayment:
          type: integer
          format: int32
          description: >-
            Amount due after accounting for advance payment – integer **in
            pennies (grosze)**
          example: 100
    EAN: *ref_0
    PLU: *ref_1
    CN: *ref_2
    SKU: *ref_3
    externalId: *ref_4
    dataMatrix: *ref_5
    unitPrice: *ref_6
    PackageReturn:
      title: PackageReturn
      required:
        - packageNumber
        - quantity
        - unitPrice
        - totalLineValue
      type: object
      properties:
        name:
          type: string
          description: >-
            Name of issued/returned goods packaging. Goods packaging name is
            only used on Posnet printers.
          example: bottle 123
        EAN:
          $ref: '#/components/schemas/EAN'
        PLU:
          $ref: '#/components/schemas/PLU'
        CN:
          $ref: '#/components/schemas/CN'
        SKU:
          $ref: '#/components/schemas/SKU'
        externalId:
          $ref: '#/components/schemas/externalId'
        dataMatrix:
          $ref: '#/components/schemas/dataMatrix'
        packageNumber:
          type: integer
          format: int32
          example: 1
          description: Number of returned goods packaging
        quantity:
          type: integer
          format: int32
          example: 1
          description: Quantity of returned goods packaging
        unitPrice:
          $ref: '#/components/schemas/unitPrice'
        totalLineValue:
          type: integer
          format: int32
          description: >-
            Total gross value (`totalLineValue = unitPrice × quantity`) –
            integer **in pennies (grosze)**
          example: 6048
    CurrencyExchange:
      title: CurrencyExchange
      required:
        - currency
        - exchangeRate
        - afterConversion
      type: object
      properties:
        currency:
          type: string
          description: >-
            Currency designation to which the informational conversion is made
            (three-letter code compliant with ISO-4217)
          pattern: ^([A-Z]{3})$
          example: EUR
        exchangeRate:
          type: string
          description: >-
            Information about the currency exchange rate with precision to 4
            decimal places in the informational conversion, with period (.) as
            decimal separator
          example: '4.3216'
        afterConversion:
          type: integer
          format: int32
          description: >-
            Amount after conversion to cash register accounting currency –
            integer **in pennies (grosze)**
          example: 6482
    DutyFree:
      title: Duty Free
      description: additional data for sales in duty-free zones
      required:
        - destination
      type: object
      properties:
        destination:
          type: string
          description: destination airport code
        stops:
          type: array
          items:
            type: string
          description: list of transit ports, in travel order
    PDReceipt:
      title: PDReceipt
      description: >-
        object with receipt data necessary to create digital purchase
        confirmation (not to be confused with fiscal e-receipt). Note: this
        parameter can be passed provided that the same request does not include
        parameters `eTicketReceipt`, `eInvoice`, `eCorrectiveInvoice` or
        `eGeneric`
      required:
        - fiscalize
        - metadata
        - lines
        - payment
      type: object
      properties:
        print:
          type: boolean
          description: >-
            `true` if the fiscal printer is to print a paper receipt, `false`
            otherwise. The flag is only relevant for specific types of
            integration, such as when a stationary store issues paper and
            electronic receipts via the Eparagony Document Print Service.
          default: false
        fiscalize:
          type: boolean
          description: >-
            `true` to issue a fiscal document based on the data contained in the
            received non-fiscal document. Fiscalization is done through
            integration with the Eparagony Document Print Service program.
        metadata:
          $ref: '#/components/schemas/ReceiptMetadata'
        lines:
          type: array
          items:
            $ref: '#/components/schemas/ReceiptLine'
          description: >-
            Line items, provided in order corresponding with a printed receipt.
            Please notice that there are different types of lines (product and
            rebate) in the dropdown list below.
        payment:
          $ref: '#/components/schemas/Payment'
        extensions:
          $ref: '#/components/schemas/EReceipt-crk-extension'
        settlementAdvancePayment:
          type: array
          items:
            $ref: '#/components/schemas/SettlementAdvancePayment'
          description: Settlement of advance payments
        packageReturns:
          type: array
          items:
            $ref: '#/components/schemas/PackageReturn'
          description: >-
            Return packages settlement - returned by customer. In addition to
            this section, the document must also include line items
        returnPackagesIssued:
          type: array
          items:
            $ref: '#/components/schemas/PackageReturn'
          description: >-
            Return packages settlement - issued to customer. In addition to this
            section, the document must also include line items
        currencyExchange:
          $ref: '#/components/schemas/CurrencyExchange'
        dutyFree:
          $ref: '#/components/schemas/DutyFree'
    CreateReceiptDocumentPayload:
      title: Receipt (PDReceipt)
      allOf:
        - $ref: '#/components/schemas/CreateDocumentPayload'
        - type: object
          required:
            - eReceipt
          properties:
            transactionToken:
              type: string
              format: UUIDv4
              example: 79ab86bd-ff41-485d-832f-4b987d217da0
              description: >
                Unique transaction identifier in UUIDv4 format. It's required
                when `documentToken` is also provided. If identifiers are not
                provided, they will be generated and returned in the response.
                Providing the identifier is necessary to issue more than one
                document for a transaction.
            statusUrl:
              type: string
              description: >
                If the `"fiscalize": true` flag was sent in the `eReceipt`
                object, notifications about the progress of the receipt issuance
                process on the fiscal printer will be sent to the provided URL
                address.
            eReceipt:
              $ref: '#/components/schemas/PDReceipt'
    Ticket:
      title: Ticket
      discriminator:
        propertyName: ticketType
        mapping:
          Regular ticket: '#/components/schemas/FullFareTicket'
          Statutory discount: '#/components/schemas/StatutoryDiscountTicket'
          Commercial discount: '#/components/schemas/CommercialDiscountTicket'
          Additional fee: '#/components/schemas/AdditionalFeeTicket'
      properties:
        ticketType:
          type: string
          enum:
            - FUll_FARE
            - STATUTORY_DISCOUNT
            - COMMERCIAL_DISCOUNT
            - ADDITIONAL_FEE
          description: >-
            Ticket type: regular ticket, statutory discount, commercial
            discount, additional fee
        validityType:
          type: string
          enum:
            - SINGLE
            - SINGLE_TIME_BASED
            - SEASON
            - DAILY
            - WEEKLY
            - WEEKENDLY
            - MONTHLY
            - QUARTERLY
          description: >-
            Ticket validity type: single-use or single-use - time-based,
            periodic, daily, weekly, weekend, monthly, quarterly
        validityRange:
          description: Ticket validity range
          oneOf:
            - type: object
              title: Route
              properties:
                type:
                  type: string
                  const: ROUTE
                description:
                  type: string
                  description: Description of the route on which the ticket is valid.
                stops:
                  type: array
                  description: Stops on the route.
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                        description: >-
                          Description of the stop on the route. If the route
                          object does not have a defined description, it will be
                          created based on stop descriptions.
                      coordinates:
                        $ref: '#/components/schemas/Coordinates'
              required:
                - type
                - stops
            - type: object
              title: Area
              properties:
                type:
                  type: string
                  const: AREA
                description:
                  type: string
                  description: Description of the area in which the ticket is valid
                coordinates:
                  type: array
                  items:
                    $ref: '#/components/schemas/Coordinates'
              required:
                - type
                - description
        validFrom:
          type: string
          description: >-
            Start date of ticket validity range for tickets with time-based
            validity range in ISO-8601 format. If the parameter is not provided,
            the request receipt time will be used.
          example: '2025-06-11T14:00:00.000Z'
        validTo:
          type: string
          description: >-
            End date of ticket validity range for tickets with time-based
            validity range in ISO-8601 format.
          example: '2025-06-11T14:59:59.000Z'
        routeNumber:
          type: string
          description: Route number.
          example: 112
        customerDetails:
          type: string
          description: >-
            Passenger data e.g. first and last name of the periodic ticket
            holder.
          example: Jan Kowalski
        description:
          type: object
          description: Ticket description.
          properties:
            type:
              type: string
              const: TEXT
            body:
              type: string
              description: Text description of the ticket.
          required:
            - type
            - body
      required:
        - ticketType
        - validityType
        - validityRange
    TicketLine:
      title: Ticket line
      type: object
      properties:
        type:
          type: string
          const: TICKET
          description: Line type. Tickets have only one line type `TICKET`.
        serviceName:
          type: string
          description: Service name.
          example: Transport service
        unitPrice:
          type: integer
          format: int32
          description: Unit price.
          example: 2000
        quantity:
          type: integer
          format: int32
          description: Quantity.
          example: 2
        totalLineValue:
          type: integer
          format: int32
          description: >-
            Total gross value before applying discounts (`totalLineValue =
            unitPrice × quantity`) – integer **in pennies (grosze)**
          example: 4000
        totalAmount:
          type: integer
          format: int32
          description: >-
            Total gross value after applying discounts – integer **in pennies
            (grosze)**. If there is no discount, the value equals the
            `totalLineValue` field value. For discounted tickets, the
            calculation method depends on the discount type - detailed
            description in the discounted ticket lines documentation.
          example: 3500
        unitOfMeasure:
          type: string
          description: Unit of measurement.
          example: szt.
        taxRate:
          type: string
          description: >-
            Letter designation of the tax rate for the given item, or
            alternatively: tax exemption. <br /><br /> <b>Warning:</b><br />
            Each fiscal printer has an algorithm verifying whether a product
            with a given name has not used a forbidden tax rate sequence, i.e.:
            higher >> lower >> higher. For example, sending 3 consecutive
            receipts with a product "Service" with tax rates A, C and A will
            result in the third receipt being rejected by the fiscal printer.
          enum:
            - A
            - B
            - C
            - D
            - E
            - F
            - G
          example: null
        description:
          type: string
          description: Line description.
          example: Business class.
      required:
        - type
        - serviceName
        - unitPrice
        - quantity
        - totalLineValue
        - totalAmount
        - taxRate
    FullFareTicketLine:
      title: Regular ticket line
      allOf:
        - $ref: '#/components/schemas/TicketLine'
        - type: object
          properties:
            isForeignTicket:
              type: boolean
              description: Marking the line as a line for foreign travel.
              example: true
    FullFareTicket:
      title: Regular ticket
      allOf:
        - $ref: '#/components/schemas/Ticket'
        - type: object
          properties:
            ticketType:
              type: string
              const: FULL_FARE
            lines:
              type: array
              description: Ticket receipt lines.
              items:
                $ref: '#/components/schemas/FullFareTicketLine'
          required:
            - ticketType
            - lines
    StatutoryDiscountTicketLine:
      title: Line with statutory discount
      allOf:
        - $ref: '#/components/schemas/TicketLine'
        - type: object
          properties:
            isForeignTicket:
              type: boolean
              const: false
              description: >-
                For a line using statutory discount (`appliesStatutoryDiscount:
                true`), pass `false` or omit the parameter.
            appliesStatutoryDiscount:
              type: boolean
              const: true
              description: >-
                Passing the value `true` means that the service is covered by
                the statutory discount defined in the ticket's
                `statutoryDiscount` field.
            totalAmount:
              description: >-
                The amount should contain the line sales value reduced by the
                statutory discount value calculated according to the formula
                `unitPrice - (unitPrice * statutoryDiscount.percentValue / 100)
                * quantity`.
    StatutoryDiscountTicket:
      title: Statutory discount
      allOf:
        - $ref: '#/components/schemas/Ticket'
        - type: object
          properties:
            ticketType:
              type: string
              const: STATUTORY_DISCOUNT
            statutoryDiscount:
              type: object
              properties:
                index:
                  type: integer
                  format: int32
                  description: >-
                    Index of statutory discount configured on the fiscal printer
                    (1-100).
                  example: 2
                percentValue:
                  type: string
                  description: >-
                    Percentage value of statutory discount configured on the
                    printer. Value is used to verify submitted amounts.
                  example: '49'
              required:
                - index
                - percentValue
            lines:
              type: array
              description: Ticket receipt lines.
              items:
                $ref: '#/components/schemas/StatutoryDiscountTicketLine'
          required:
            - ticketType
            - statutoryDiscount
            - lines
    CommercialDiscountTicketLine:
      title: Line with commercial discount
      allOf:
        - $ref: '#/components/schemas/TicketLine'
        - type: object
          properties:
            isForeignTicket:
              type: boolean
              description: Marking the line as a line for foreign travel.
              example: true
            commercialDiscountValue:
              type: integer
              format: int32
              description: Commercial discount amount
            totalAmount:
              description: >-
                The amount should contain the line sales value reduced by the
                commercial discount value calculated according to the formula
                `unitPrice * quantity - commercialDiscountValue`.
    CommercialDiscountTicket:
      title: Commercial discount
      allOf:
        - $ref: '#/components/schemas/Ticket'
        - type: object
          properties:
            ticketType:
              type: string
              const: COMMERCIAL_DISCOUNT
            commercialDiscount:
              type: object
              properties:
                name:
                  type: string
                  description: Commercial discount name.
              required:
                - name
            lines:
              type: array
              description: Ticket receipt lines.
              items:
                $ref: '#/components/schemas/CommercialDiscountTicketLine'
          required:
            - ticketType
            - commercialDiscount
            - lines
    AdditionalFeeTicketLine:
      title: Additional fee line
      allOf:
        - $ref: '#/components/schemas/TicketLine'
        - type: object
          properties:
            isForeignTicket:
              type: boolean
              description: Marking the line as a line for foreign travel.
              example: true
    AdditionalFeeTicket:
      title: Additional fee
      allOf:
        - $ref: '#/components/schemas/Ticket'
        - type: object
          properties:
            ticketType:
              type: string
              const: ADDITIONAL_FEE
            lines:
              type: array
              description: Ticket receipt lines.
              items:
                $ref: '#/components/schemas/AdditionalFeeTicketLine'
          required:
            - ticketType
            - lines
    Coordinates:
      type: object
      description: Geographic coordinates
      properties:
        longitude:
          type: number
          description: Geographic longitude in DD (Decimal Degrees) format.
          example: 21.012229
        latitude:
          type: number
          description: Latitude in DD (Decimal Degrees) format.
          example: 52.229676
      required:
        - longitude
        - latitude
    PDTicketReceipt:
      title: PDTicketReceipt
      description: >-
        an object with receipt data needed to create a digital transaction
        confirmation being proof of purchase of tickets. Note: this parameter
        can be passed provided that the same request does not include parameters
        `eReceipt`, `eInvoice`, `eCorrectiveInvoice` or `eGeneric`
      required:
        - fiscalize
        - metadata
        - tickets
        - payment
      type: object
      properties:
        print:
          type: boolean
          description: >-
            `true` if the fiscal printer is to print a paper receipt, `false`
            otherwise. The flag is only relevant for specific types of
            integration, such as when a stationary store issues paper and
            electronic receipts via the Eparagony Document Print Service.
          default: false
        fiscalize:
          type: boolean
          description: >-
            `true` to issue a fiscal document based on the data contained in the
            received non-fiscal document. Fiscalization is done through
            integration with the Eparagony Document Print Service program.
        metadata:
          $ref: '#/components/schemas/ReceiptMetadata'
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/Ticket'
          description: >-
            Tickets in order corresponding with printout. Please note the
            different types (regular ticket, statutory discount, commercial
            discount, additional fee) in the dropdown list below.
        payment:
          $ref: '#/components/schemas/Payment'
        extensions:
          $ref: '#/components/schemas/EReceipt-crk-extension'
        currencyExchange:
          $ref: '#/components/schemas/CurrencyExchange'
        dutyFree:
          $ref: '#/components/schemas/DutyFree'
    CreateTicketReceiptDocumentPayload:
      title: Ticket receipt (PDTicketReceipt)
      allOf:
        - $ref: '#/components/schemas/CreateDocumentPayload'
        - type: object
          required:
            - eTicketReceipt
          properties:
            transactionToken:
              type: string
              format: UUIDv4
              example: 79ab86bd-ff41-485d-832f-4b987d217da0
              description: >
                Unique transaction identifier in UUIDv4 format. It's required
                when `documentToken` is also provided. If identifiers are not
                provided, they will be generated and returned in the response.
                Providing the identifier is necessary to issue more than one
                document for a transaction.
            statusUrl:
              type: string
              description: >
                If the `"fiscalize": true` flag was sent in the `eTicketReceipt`
                object, notifications about the progress of the receipt issuance
                process on the fiscal printer will be sent to the provided URL
                address.
            eTicketReceipt:
              $ref: '#/components/schemas/PDTicketReceipt'
    PDInvoice:
      title: PDInvoice
      description: >-
        Object containing all data necessary to issue an electronic invoice in
        the Polish National eInvoicing System (KSeF). Note: this parameter can
        be passed provided that the same request does not include parameters
        `eTicketReceipt`, `eReceipt`, `eCorrectiveInvoice` or `eGeneric`.
      type: object
      properties:
        eInvoicingHub:
          type: string
          description: Allows requesting invoice issuance in the KSeF system.
          enum:
            - KSEF
          example: KSEF
    VatCalculationMethodMetadata:
      type: object
      properties:
        vatCalculationMethod:
          type: string
          description: >
            Declared VAT calculation method for the document
            (`taxValueByTaxRate`, `netValueByTaxRate`). Affects the requirement
            of fields in document lines:

            - `SUM_OF_LINES_NET` or `SUM_OF_RATES_NET` – required in lines: net
            price, quantity, net value, VAT rate, VAT value.

            - `SUM_OF_LINES_GROSS` or `SUM_OF_RATES_GROSS` – required in lines:
            gross price, quantity, gross value, VAT rate, VAT value.
          enum:
            - SUM_OF_LINES_NET
            - SUM_OF_RATES_NET
            - SUM_OF_LINES_GROSS
            - SUM_OF_RATES_GROSS
          example: SUM_OF_LINES_NET
        calculationValidation:
[...]
